.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

}
.container, .containertwo {
    display: grid;
    grid-template-columns: repeat(10, 3em);
    grid-template-rows: repeat(10, 3em);
}

.div {
    display: flex;
    border: solid black;
    justify-content: center;
    cursor: pointer;
    height: 3em;
    width: 3em;
}

.playerlabel, .computerlabel {
    font-size: 2em;
}

.player, .computer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.span {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.side, .sidetwo {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-evenly;
}
