.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

}
.container, .containertwo {
    display: grid;
    grid-template-columns: repeat(10, 2.5em);
    grid-template-rows: repeat(10, 2.5em);
    padding: 1em;
}

.div, .divs {
    display: flex;
    border: solid black;
    justify-content: center;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    background-color: aquamarine;
}

.over {
    border: 3px dotted black;
}

.miss {
    border: solid black;
    font-size: 240%;
    color: black;
    text-align: center;
}

.hit {
    border: solid black;
    background-color : red;
    font-size: 240%;
    color: black;
    text-align: center;
}

.divtwo {
    display: flex;
    border: solid black;
    justify-content: center;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    background-color: grey;
}

.playerlabel, .computerlabel {
    font-size: 2em;
}

.player, .computer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.span {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.side, .sidetwo {
    margin-top: 2.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
